.signup {
  padding: 100px 0;
}
.input-signup {
  gap: 40px;
  margin-top: 50px;
  align-items: center;
}
.input-signup input {
  height: 60px;

  width: 50%;
}
.baseIcon {
  position: relative;
}
.eyeIcon {
  position: absolute;
  top: 20px;
  right: 320px;
}
.checkbox {
  margin-left: 240px;
  margin-top: 20px;
}
.checkbox-signup {
  width: 10% !important;
}
.announce {
  white-space: nowrap;
}

.signup button {
  margin: 10px;
}
.forgetPass {
  justify-content: space-evenly;
}
